<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tìm kiếm bài viết</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="logo">DEEPB</div>

        <div class="search">
            <form action="/search" method="get">
                <input type="text" name="filename" placeholder="Tìm kiếm theo tên file..." required>
                <button type="submit">Tìm</button>
            </form>
        </div>
    </header>

    <!-- Main Content -->
    <main>
        <!-- Featured Section -->
        <section class="featured">
            <div class="featured-item">
                <p><strong>Nguồn: </strong>{{ data[0]['source']['source_name'] }}</p>
                <a href="{{ data[0]['source']['source_link'] }}" target="_blank">
                    <img src="{{ data[0]['attachments'][0]['link'] }}" alt="Ảnh bài viết" class="article-img">
                </a>
            </div>
        </section>

        <!-- News Section -->
        <section class="news">
            <h2>Tin Tức Mới</h2>
            <div class="news-grid">
                {% for item in data[:30] %}
                    <div class="news-item">
                        <p><strong>Nguồn: </strong>{{ item['source']['source_name'] }}</p>
                        <a href="{{ item['source']['source_link'] }}" target="_blank">
                            <img src="{{ item['attachments'][0]['link'] }}" alt="Ảnh bài viết" class="article-img">
                        </a>
                        <p><strong>Link bài viết: </strong><a href="{{ item['link'] }}" target="_blank">{{ item['link'] }}</a></p>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <p> </p>
    </footer>
</body>
</html>
